#about h1 {
  margin-left: 50px;
}

#headShot {
  float: left;
  margin-right: 40px;
  width: 177px;
  height: 200px;
  border-radius: 50%;
}

#about p {
  text-indent: 40px;
  font-size: 0.9em;
}

#about p::first-line {
  font-size: 1.4em;
}
