.projects-page {
  background-color: $color-2;
}

.projects-page h1, .projects-page h2, .projects-page h3, .projects-page h4 {
  font-family: "Amatic SC", Avenir, sans-serif;
  letter-spacing: 3px;
}

#projects {
  z-index: 2;
  white-space: nowrap;
  background-color: $color-2;
  width: 100%;
  height: 260px;
  padding: 20px 0;
  overflow-x: scroll;
  margin-top: 340px;
}

#projectDetails {
  position: absolute;
  top: 56px;
  height: 340px;
  width: 100vw;
  overflow: hidden;
  transition: height 0.4s ease-out, top 0.4s ease-out;
}

.project-view {
  display: flex;
  justify-content: space-around;
  height: 340px;
  background-color: ghostwhite;
}

.project-view a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  color: $color-1;
}

.logo, .blurb {
  width: 500px;
  padding: 20px;
}

.blurb {
  font-size: 1rem;
  height: 320px;
}

.project-menu-icon {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 250px;
  margin: 0 10px;
  
  border: 3px solid #333;
  border-radius: 50%;
  transition: all 0.25s ease-in-out
}

.project-menu-icon:hover, .project-menu-icon h1:hover {
  cursor: pointer;
  border-color: steelblue;
}

/******************
    SHADOW STUFF
******************/

#shadowTop, #shadowBot {
  z-index: 3;
  height: 10px;
  width: 100vw;
  position: absolute;
  transition: all 0.4s ease-out;
}

#shadowTop {
  top: 56px;
  background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0));
  background: linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0));
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
}

#shadowBot {
  top: 386px;
  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.5));
  background: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.5));
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.5));
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
}

/******************
    blocChat
******************/

#blocChatView,
#blocChatMenuIcon:hover,
#blocChatMenuIcon.selected-project {
  background-color: rebeccapurple;
  color: $color-2;
}

/******************
    blocJams
******************/

#blocJamsView,
#blocJamsMenuIcon:hover,
#blocJamsMenuIcon.selected-project {
  background-color: #333;
  color: $color-2;
}

#blocJamsView {
  background-color: #333;
}

/******************
    blocPong
******************/

#blocPongView,
#blocPongMenuIcon:hover,
#blocPongMenuIcon.selected-project {
  background-color: turquoise;
  color: $color-2;
}

#blocPongView {
  background-color: turquoise;
}

#blocPongView a {
  color: $text-color;
}

/******************
    blocTime
******************/

#blocTimeView,
#blocTimeMenuIcon:hover,
#blocTimeMenuIcon.selected-project {
  background-color: tomato;
  color: $color-2;
}

#blocTimeView {
  background-color: tomato;
}

.flex-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
