.projects-page {
  background-color: $color-2;
}

.projects-page h1, .projects-page h2, .projects-page h3, .projects-page h4 {
  font-family: "Amatic SC", Avenir, sans-serif;
  letter-spacing: 3px;
}

#projects {
  z-index: 2;
  white-space: nowrap;
  background-color: $color-2;
  width: 100%;
  height: 320px;
  padding: 20px 0;
  overflow-x: scroll;
  margin-top: 340px;
}

#projectDetails {
  position: absolute;
  top: 56px;
  height: 340px;
  width: 100vw;
  overflow: hidden;
  transition: height 0.4s ease-out, top 0.4s ease-out;
}

.project-view {
  display: flex;
  justify-content: space-around;
  height: 340px;
  background-color: ghostwhite;
}

.project-view a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  color: $color-1;
}

.logo, .blurb {
  width: 500px;
  padding: 20px;
}

.blurb {
  font-size: 1rem;
  height: 320px;
}

.project-menu-icon {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 250px;
  margin: 0 10px;
  
  border: 30px solid tomato;
  border-radius: 50%;
  transition: border-color 0.25s ease-in-out
}

.project-menu-icon:hover, .project-menu-icon h1:hover {
  cursor: pointer;
  border-color: steelblue;
}

/******************
    SHADOW STUFF
******************/

#shadowTop, #shadowBot {
  z-index: 3;
  height: 20px;
  width: 100vw;
  position: absolute;
  transition: all 0.4s ease-out;
}

#shadowTop {
  top: 56px;
  background: -webkit-linear-gradient(rgba(0,0,0,1) 2%,rgba(16,25,31,0.2) 5%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(rgba(0,0,0,1) 2%,rgba(16,25,31,0.2) 5%, rgba(255,255,255,0) 100%);
  background: linear-gradient(rgba(0,0,0,1) 2%,rgba(16,25,31,0.2) 5%, rgba(255,255,255,0) 100%);
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
}

#shadowBot {
  top: 376px;
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%,rgba(16,25,31,0.2) 95%, rgba(0,0,0,1) 98%);
  background: -o-linear-gradient(rgba(255,255,255,0) 0%,rgba(16,25,31,0.2) 95%, rgba(0,0,0,1) 98%);
  background: linear-gradient(rgba(255,255,255,0) 0%,rgba(16,25,31,0.2) 95%, rgba(0,0,0,1) 98%);
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
}

/******************
    blocChat
******************/

#blocChatMenuIcon {
  border: 30px solid rebeccapurple;
}

#blocChatMenuIcon:hover {
  border: 30px solid cyan; 
}

#blocChatMenuIcon.selected-project {
  background-color: cyan;
}

#blocChatView {
  background-color: rebeccapurple;
  color: $color-2;
}

/******************
    blocJams
******************/

#blocJamsMenuIcon {
  border: 30px solid #333;
}

#blocJamsMenuIcon:hover {
  border: 30px solid deeppink; 
}

#blocJamsMenuIcon.selected-project {
  background-color: deeppink;
}

#blocJamsView {
  background-color: #333;
  color: $color-2;
}

/******************
    blocPong
******************/

#blocPongMenuIcon {
  border: 30px solid turquoise;
}

#blocPongMenuIcon:hover {
  border: 30px solid steelblue; 
}

#blocPongMenuIcon.selected-project {
  background-color: steelblue;
}

#blocPongView {
  background-color: turquoise;
}

#blocPongView a {
  color: $text-color;
}

/******************
    blocTime
******************/

#blocTimeMenuIcon {
  border: 30px solid forestgreen;
}

#blocTimeMenuIcon:hover {
  border: 30px solid tomato; 
}

#blocTimeMenuIcon.selected-project {
  background-color: tomato;
}

#blocTimeView {
  background-color: tomato;
}

.flex-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
