<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="projects-page">

      <div id="shadowTop"></div>
      <div id="projectDetails">
        {% for project in site.projects %}
          <div id="{{ project.title }}View" class="project-view row">

            <div class="logo col">
              <img src="{{ site.baseurl }}/../../assets/{{ project.imgUrl }}" alt={{ project.imgAlt }} />
            </div>

            <div class="blurb col">
              <h1>{{ project.title }}</h1>
              <p>{{ project.blurb }}</p>
              <p>You can view a case study of this project 
                <a href="{{ site.url }}/case_studies/{{ project.title }}">here</a>
              </p>
              <a href="{{ project.projectUrl }}">Check it out =></a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="shadowBot"></div>

      <div id="projects">
        {% for project in site.projects %}
          <div id="{{ project.title }}MenuIcon"
               class="project-menu-icon"
               onClick="showProject('{{ project.projNum }}')">
            <div class="flex-center">
              <h1>{{ project.title }}</h1>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}

    <script>
      function showProject(index) {
        index = parseInt(index)
        var details = document.getElementById('projectDetails')
        
        details.style.height = 340 * (index + 1) + 'px'
        details.style.top = -340 * index + 56 + 'px'
      }
      
//      window.onresize = function (event) {
//        var projects = document.getElementById('projects'),
//            arrowL = document.getElementById('arrowLeft'),
//            arrowR = document.getElementById('arrowRight'),
//            overflowing = _projects.scrollWidth > _projects.clientWidth,
//            scrolledRight = _projects.scrollWidth - _projects.scrollLeft === _projects.clientWidth;
//        
//        if (overflowing && !scrolledRight) {
//          // show arrowL && arrowR
//        }
//      }
    </script>
  </body>

</html>
